/* Tablet & Mobile: width < 1024px */
@media (max-width: 63.9375em) {
    .btn {
        padding: 15px 16px;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }

    .contact-info {
        line-height: 2;
    }

    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }

    .contact-submit-btn {
        font-size: 16px;
    }

    #footer .socials-list {
        font-size: 36px;
    }

    #footer .socials-list a {
        margin: 0 4px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block; /* vì thẻ a này ban đầu chỉ là inline nên nó chạm vào icon nên padding sẽ kh thay đổi gì
                                  nhưng nếu là inline-block sẽ chạm xuống đáy thẻ a nên sẽ thấy dòng copyright đc đẩy xuống */
    }
}

/* Mobile: width < 740px */
@media (max-width: 46.1875em) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden; /* để ẩn phần menu trên mobile */
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li {
        display: block; /* để phần menu từ hàng ngang thành hàng dọc */ 
    }

    #nav > li:first-child {
        display: inline-block;  
    }

    #nav .subnav {
        position: initial;
        background: black;
    }

    #nav .subnav a {
        color: white;
        padding: 5px 41px; /* chiều cao của 1 nút bấm trên đth tối thiểu phải là 42px và tối đa là 48px */
    }

    #slider .text-content {
        display: none;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
   
}