/* Reset CSS */
* {
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* font-family kh cho vào thẻ * vì tất cả các thẻ đều sẽ kế thừa,
kể cả những thẻ không có chữ */

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif; 
}

/* Làm việc 
1. Từ ngoài vào trong 
2. Từ trên xuống dưới, 
3. Từ tổng quan đến chi tiết
*/

/*
Để làm 1 website thì ta cần đặt ra những câu hỏi sau
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, hình vuông, ...)
*/

/* Common (class dùng chung) */
/* Clear: both dùng để giải quyết vde dùng float trong css thẻ cha bị thu nhỏ diện tích, kh bao bọc thẻ con */
.clear {
    clear: both;
}
 /* Đây là 1 class riêng lẻ để tạo mặc định cho chữ có màu trắng,
    nếu các chữ kh đc css màu thì nó sẽ là màu trắng. */
.text-white {
    color: white !important; /* important chỉ dùng trong class đc khai báo riêng lẻ, kh dùng cho class khai báo thông thường */
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.btn {
    color: #fff;
    background-color: black;
    text-decoration: none;
    padding: 10px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    text-align: center;
    -webkit-appearance: none;
}

.btn:hover {
    cursor: pointer;
    color: black;
    background-color: #ccc;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both; /* muốn clear: both phải có display trc nó */
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.col-third {
    width: 33.33333%;
}

/* Main */
#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46.5px;
    background-color: black;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;  /* để ngang hàng & block để giữ đc tchat khối */
}

#nav li {
    position: relative;
}
#nav > li > a { /* đây là dạng lấy thẻ con trực tiếp, tác động lên tca thẻ a cấp 1
                (a phải là thẻ con trực tiếp của li và li là thẻ con trực tiếp của #nav) */
    color: #fff;
    text-transform: uppercase;
}

#nav li a { /* css vào thẻ a là con của li & li là con của id nav */
    text-decoration: none;
    line-height: 46.5px; /* dùng line-height để căn giữa cho chữ */
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: black;
    background-color: #ccc;
}

#nav .subnav { /* nên css ghi tên class cha ra để khỏi bị trùng sau này */
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%; /* lấy chiều cao bằng chính thẻ cha chứa nó */
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: black;
    display: block;
    padding: 0 12px;
    line-height: 38.5px;
}

#nav .nav-arrow-down {
    font-size: 13px; /* mặc định font-size của icon là 16px */
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right; /* thẻ div đc css float sẽ bị mất tchat kế thừa chiều ngang của thẻ cha */
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: black;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    /* font-size: 18px; */
    line-height: 46.5px;
}

/* Slider Section */
#slider {
    margin-top: 46.5px;
    position: relative;
    padding-top: 50%; /* khi đặt là % thì kích thước chiều ngang luôn bằng 50% của chiều cao */
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px black;
}

/* Content Section */
#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%; /* nếu kích thước màn hình nhỏ hơn 800px thì sẽ tự set kích thước màn hình về bằng 100% của kích thước màn hình đó */
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    font-style: italic;
    margin-top: 25px;
    opacity: 0.6; /* Opacity là độ mờ, đc tính từ 0 -> 1. Ở đây 0.6 là độ mờ 60% */
}

#content .about-content {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.5;
}

#content .member-list {
    margin-top: 32px;
    /* overflow: hidden; dùng để giải quyết vấn đề dùng float thẻ cha bị thu nhỏ diện tích, kh bao bọc thẻ con.
    Tuy nhiên, ta sẽ dùng clear: both đặt phía đầu file css để giải quyết cho vde này suốt qtrinh làm */
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour Section */
.tour-section {
    background-color: black;
}

.ticket-list {
    background-color: white;
    margin-top: 40px;
    list-style: none;
}

.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right; /* 1 thẻ đang có tchat là inline mà dùng float thì sẽ thành block */
    width: 24px; /* dùng float nên có tchat display là block nên đặt đc width và height */
    height: 24px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px; /* margin-top chỉ dùng đc số âm khi ta có dùng float */
}

.places-list {
    margin-top: 16px;
}

.place-img {
    width: 100%;
    display: block; /* do hình đang là inline nên có 1 khoảng cách nhỏ, đổi sang block sẽ hết */
}

.place-img:hover {
    opacity: 0.6;
}

.place-content {
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}

.place-name {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    opacity: 0.6;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4; /* tiếng anh 1.4, tiếng việt 1.6 */
}

/* Contact Section */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] { /* css cho thẻ i có class chứa ti- */
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #2196F3;
    /* opacity: 0.8; */
}

.contact-info a:hover {
    color: #00e;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map Section */
.map-section img {
    width: 100%;
}

/* Footer Section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .socials-list a:hover,
#footer .copyright a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

/* Modal Section */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center; /* căn giữa chiều cao */
    justify-content: center; /* căn giữa chiều ngang */
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background: white;
    width: 900px;
    max-width: calc(100% - 32px); /* responsive để khi thu nhỏ cả hai bên trái phải vẫn padding 16px */
    min-height: 200px;
    position: relative;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    animation: modalDropDown ease .5s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.mheading-bag-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 12px 12px 9.5px;
}

.modal-close:hover {
   cursor: pointer;
   color: black;
   background: #ccc;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 28px;
}

#buy-ticket {
    background: #009688;
    border: none;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    /* padding: 16px; */
    line-height: 49.6px;
}

#buy-ticket:hover {
    /* opacity: 0.8; */
    color: black;
    background: #ccc;
    cursor: pointer;
}

.mheading-check-icon {
    font-size: 12px;
}

.modal-footer {
    padding: 16px;
    text-align: right;
    margin-bottom: 16px;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalDropDown {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
